.header-main {
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
    z-index: 999;
}
.header-height {
    height: 88px;
}
.shopping-cart {
    height: 40px;
    width: 42px;
    border: 1px solid #f0efef;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

.color-cart {
    color: #676767;
}
.color-cart:hover {
    color: #676767;
    text-decoration: none;
}
.wrap-log-in {
    height: 40px;
    border: 1px solid #f0efef;
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 25px;
}
.sticky {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    background-image: none;
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
}
.main-nav a {
    color: #676767;
    padding: 31px 15px;
    border: 0;
    font-size: 15px;
    font-weight: 600;
}
.main-nav a:hover {
    border-bottom: 4px solid #00c6d7;
    color: #00c6d7;
}
body {
    padding: 0;
    margin: 0;
}
.log-in .dropdown-toggle::after {
    display: none;
}
.log-in .dropdown-menu .dropdown-item {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 12px;
    border-bottom: 1px solid #ebebeb;
}
.log-in .dropdown-menu a:focus {
    text-decoration: none;
    background-color: white;
}
.log-in .dropdown-menu .dropdown-item i {
    width: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 50%;

}
.ic-user {
    background-color: #e2963b;
    color: white;
}
.ic-logout {
    background-color: #6d6f71;
    color: white;
}


/*********************************FOOTER**********************************/

.footer {
    background: #0c0c0f;
}
.img-footer {
    width: 100%;
}
.divider {
    width: 100%;
    height: 1px;
    background: #00c6d7;
}
.link-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
    font-weight: 500;
}
a:hover {
    text-decoration: none;
}
.link-item a {
    color: #00c6d7;
    font-size: 1.14285714rem;
    line-height: 1.5;
}
.icon-footer {
    font-size: 32px;!important;
}
.and-copyright {
    justify-content: flex-end;
    font-size: .85714286rem;
}
.copy-right-item a,span {
    color: #00c6d7;
}
.copy-right {
    color: #00c6d7;
}

