.header-main {
    top: 0;
    width: 100%;
    background-image: linear-gradient(180deg,rgba(0,0,0,.4),transparent);
    transition: all .3s ease-in-out;
    z-index: 999;
}
.header-height {
    height: 88px;
}
.shopping-cart {
    height: 40px;
    width: 42px;
    border: 1px solid #f0efef;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}
.wrap-log-in {
    background-color: #ffffff;
    cursor: pointer;
}
.color-cart {
    color: #676767;
}
.color-cart:hover {
    color: #676767;
    text-decoration: none;
}
.wrap-log-in {
    height: 40px;
    border: 1px solid #f0efef;
    border-radius: 4px;
}
.sticky {
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgb(28 28 28 / 10%);
    background-image: none;
    padding: 3px 0;
}
.banner {
    position: relative;
}



/*********************************FOOTER**********************************/

.footer {
    background: #ffffff;
}
.img-footer {
    width: 100%;
}
.divider {
    width: 100%;
    height: 1px;
    background: #00c6d7;
}
.link-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
    font-weight: 500;
}
a:hover {
    text-decoration: none;
}
.link-item a {
    color: #00c6d7;
    font-size: 1.14285714rem;
    line-height: 1.5;
}
.icon-footer {
    font-size: 32px;!important;
}
.and-copyright {
    justify-content: flex-end;
    font-size: .85714286rem;
}
.copy-right-item a,span {
    color: #00c6d7;
}
.copy-right {
    color: #00c6d7;
}

